.body-home{
    height: 85vh;
    display: flex;
    /* border:2px solid blue; */
}
.left-body-home{
    flex:1;
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    /* border:2px solid blue; */
}
.right-body-home{
    flex:1;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    flex:1;
    margin-top: 1rem;
}
.logos{
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px solid green; */
}
img{
    margin-right: 1rem;
}
#me{
    height:6rem;
    width: 6rem;
}
.right-body-home > button:hover{
    cursor: pointer;
    background-color: white;
}
#cv{
    flex:1;
    /* border: 2px solid red; */
}
@media (max-width: 1124px){
    .cv-box{
        width: 100%;
        height: 100%;
        /* border:2px solid blue; */
    }
    #cv{
        /* flex:1; */
        
        height: 100%;
        /* border: 2px solid red; */
        /* height: 85vh; */
        object-fit: cover;
    }
}
@media (max-width: 1024px){
    .body-home{
        padding-top: 2rem;
        height: 85vh;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        /* border:2px solid blue; */
        /* object-fit: contain; */
        /* margin-right: 2rem; */
    }
    .cv-box{
        width: 100%;
        height: 100%;
        /* border:2px solid blue; */
    }
    #cv{
        flex:1;
        
        /* height: 100%; */
        /* border: 2px solid red; */
        /* height: 85vh; */
        object-fit: cover;
    }
    /* .logos{
        width: 50%;
    } */
    /* .left-body-home{
        width: max-content;
    } */
}
@media (max-width: 470px){
    .body-home{
        padding-top: 2rem;
        /* height: 85vh; */
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }
    /* .logos{
        width: 50%;
    } */
    /* .left-body-home{
        width: max-content;
    } */
}
