.body-proj{
    display: flex;
    margin: 8vh 5vw;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.left-body-proj{
    flex:1;
}
.right-body-proj{
    flex:2;
}

@media (max-width: 1124px){
    .body-proj{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    img{
        height: 50%;
        width: 20%;
    }
    .left-body-proj{
        margin-top: 2rem;
        display: flex;
        margin-bottom: 2rem;
        justify-content: center;
    }
    .right-body-proj{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 860px){
    .body-proj{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    .left-body-proj{
        display: flex;
        justify-content: center;
    }
    .right-body-proj{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 50%;
        /* width: 20%; */
    }
}